/* Error Styling (Red) */
body.woocommerce-cart ul.woocommerce-error{
    font-size: 16px !important;
    font-weight: 500;
    background-color: #FEEFEF !important;
    border: 2px solid #F48989 !important;
    color: #DA1414 !important;
}

/* Alert Styling (Orange) */
body.woocommerce-checkout .woocommerce-info,
body.woocommerce-account .woocommerce-message,
body.woocommerce-account .woocommerce-info{
    font-size: 16px !important;
    font-weight: 500;
    background-color: #FFF4EC !important;
    border: 2px solid #FF8F39 !important;
    color: #B95000 !important;
}
body.woocommerce-checkout .woocommerce-info a{
    color: #B95000 !important;
    text-decoration: underline;
}
body.woocommerce-checkout .woocommerce-info a:hover{
    text-decoration: none;
}

/* Success Styling (Green) */
body.woocommerce-cart .woocommerce-notices-wrapper{
    border: 2px solid #5aca75 !important;
    height: 74px;
}
body.single-product .woocommerce .woocommerce-message,
body.woocommerce-cart .woocommerce .woocommerce-message{
    font-size: 16px !important;
    font-weight: 500;
    background-color: #EDF9F0 !important;
    color: #287D3C !important;
}
body.single-product .woocommerce .woocommerce-message a,
body.woocommerce-cart .woocommerce .woocommerce-message a{
    color: #287D3C !important;
    text-decoration: underline;
}
body.single-product .woocommerce .woocommerce-message a:hover,
body.woocommerce-cart .woocommerce .woocommerce-message a:hover{
    text-decoration: none;
}
